@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
h1 {
  color: #48556a;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 16px;
    letter-spacing: 0.1px;
  }
}

p {
  color: #6d7f97;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.25px;
}
@media screen and (max-width: 768px) {
  p {
    letter-spacing: 0.1px;
  }
}