@import 'colors';
@import 'media_queries';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

h1 {
    color: $very-dark-grayish-blue;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.25;

    @include tablet {
        font-size: 16px;
        letter-spacing: 0.1px;
    }
}

p {
    color: $desaturated-dark-blue;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.25px;

    @include tablet {
        letter-spacing: 0.1px;
    }
}