@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
h1 {
  color: #48556a;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 16px;
    letter-spacing: 0.1px;
  }
}

p {
  color: #6d7f97;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.25px;
}
@media screen and (max-width: 768px) {
  p {
    letter-spacing: 0.1px;
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ecf2f8;
}

button {
  border: none;
  cursor: pointer;
}

.box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  width: 720px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .box {
    flex-wrap: wrap;
    height: 490px;
    width: 330px;
  }
}
.box__photo {
  width: 285px;
  height: 280px;
}
@media screen and (max-width: 768px) {
  .box__photo {
    height: 200px;
    width: 100%;
  }
}
.box__text {
  padding: 20px 35px 35px 35px;
}
.box__author {
  display: flex;
  padding-top: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .box__author {
    padding-top: 15px;
  }
}

.author {
  display: flex;
  align-items: center;
}
.author__photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 15px;
}
.author__info p {
  line-height: 5px;
}
.author__info:first-child {
  color: #48556a;
}

.photo {
  width: inherit;
  height: 102%;
  object-fit: cover;
  object-position: 0;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 768px) {
  .photo {
    border-radius: 10px 10px 0 0;
  }
}

.share-button {
  background-color: #ecf2f8;
  border-radius: 50%;
  padding: 7.5px;
}
.share-button svg {
  color: #6d7f97;
}
.share-button__modal {
  background-color: #6d7f97;
  border-radius: 50%;
  padding: 7.5px;
  margin-left: 50px;
  display: none;
}
@media screen and (max-width: 768px) {
  .share-button__modal {
    display: inline;
  }
}
.share-button__modal svg {
  color: #FFFFFF;
}

.modal {
  position: absolute;
  bottom: 45%;
  right: 7%;
  transform: translate(50%, 50%);
  display: flex;
  background-color: #48556a;
  border-radius: 10px;
  width: 250px;
  height: 55px;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  -webkit-box-shadow: 0px 7px 20px -7px #48556a;
  box-shadow: 0px 7px 20px -7px #48556a;
  z-index: 5;
  display: none;
}
@media screen and (max-width: 768px) {
  .modal {
    width: 330px;
    height: 65px;
    bottom: 6.5%;
    right: 50%;
    border-radius: 0 0 10px 10px;
  }
}
.modal__share {
  color: #6d7f97;
  letter-spacing: 4px;
}
.modal__triangle {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, -25%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #48556a;
}
@media screen and (max-width: 768px) {
  .modal__triangle {
    display: none;
  }
}

.visible {
  display: flex;
}