@import 'colors';
@import 'fonts';
@import 'media_queries';

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: $light-grayish-blue;
}

button {
    border: none;
    cursor: pointer;
}

.box {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    width: 720px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 10px;

    @include tablet {
        flex-wrap: wrap;
        height: 490px;
        width: 330px;
    }

    &__photo {
        width: 285px;
        height: 280px;

        @include tablet {
            height: 200px;
            width: 100%;
        }
    }

    &__text {
        padding: 20px 35px 35px 35px;
    }

    &__author {
        display: flex;
        padding-top: 5px;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            padding-top: 15px;
        }
    }
}

.author {
    display: flex;
    align-items: center;

    &__photo {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right: 15px;
    }

    &__info {
        & p {
            line-height: 5px;
        }
// nie dziala
        &:first-child {
            color: $very-dark-grayish-blue;
        }
    }
}

.photo {
    width: inherit;
    height: 102%;
    object-fit: cover;
    object-position: 0;
    border-radius: 10px 0 0 10px;

    @include tablet {
        border-radius: 10px 10px 0 0;
    }
}

.share-button {
    background-color: $light-grayish-blue;
    border-radius: 50%;
    padding: 7.5px;

    & svg {
        color: $desaturated-dark-blue;
    }

    &__modal {
        background-color: $desaturated-dark-blue;
        border-radius: 50%;
        padding: 7.5px;
        margin-left: 50px;

        display: none;

        @include tablet {
            display: inline;
        }

        & svg {
            color: #FFFFFF;
        }
    }
}

.modal {
    position: absolute;
    bottom: 45%;
    right: 7%;
    transform: translate(50%, 50%);
    display: flex;
    background-color: $very-dark-grayish-blue;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    -webkit-box-shadow: 0px 7px 20px -7px $very-dark-grayish-blue; 
    box-shadow: 0px 7px 20px -7px $very-dark-grayish-blue;
    z-index: 5;
    display: none;

    @include tablet {
        width: 330px;
        height: 65px;
        bottom: 6.5%;
        right: 50%;
        border-radius: 0 0 10px 10px;
    }

    &__share {
        color: $desaturated-dark-blue;
        letter-spacing: 4px;
    }

    &__triangle {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translate(50%, -25%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid $very-dark-grayish-blue;

        @include tablet {
            display: none;
        }
    }
}

.visible {
    display: flex;
}
